.premium-join {
  background-color: #ff4500;
  padding: 3px 30px;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  text-align: center;
}

.premium-join a {
  font-size: 1em;
  font-weight: 700;
  color: #fff;
}

.premium-join a:hover {
  text-decoration: none;
}

.premium-des {
  font-size: 0.7em;
}

.premium-head {
  font-size: 0.8em;
  font-weight: 600;
}

.premium-logo {
  color: #ff4500;
  padding-left: 10px;
  font-size: 2em;
}

.home-small-profile {
  position: relative;
  top: -20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
  border: 1px solid #fff;
}

.home-small-profile img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-small-cover {
  height: 50px;
}

.right-profile-nav{
  margin-top: 5px;
  border-color: #fff;
}

.right-profile-tab {
  margin-top: 50px;
  margin-right: 75px;
  width: 310px;
}

.right-profile-nav .nav-tabs .nav-link {
  border-bottom: none;
  border-radius: 0;
  color: black;
  font-weight: 600;
}

.right-profile-nav .nav-tabs .nav-link.active {
  color: blue;
}

 .right-profile-nav .nav-tabs .nav-link.active {
  color: rgb(26,135,215) !important;
  border-bottom: 3px solid rgb(26,135,215) !important;
  border-radius: 0px 0px 0 0 !important;
}


.right-profile-nav .nav-tabs .nav-link:hover {
  color: white;
  border-bottom: none;
  border-color: rgb(255, 255, 255);
  color: rgb(26,135,215);
  border-radius: 0px 0px 0 0 !important;

}

.Right-element {
  background-color:#dae0e6;
  padding-bottom: 10px;
  border-radius: 0 0 10px 10px;
}