.create-post-img {
  display: flex;
  margin: 0;
  padding: 0;
}
.create-post-img a {
  padding: 10px;
  font-size: 1.4em;
  align-items: center;
  color: #8f9294;
}
.create-post-img a:hover {
  border-radius: 5px;
  background-color: #e3e2e2b0;
}

.create-post button {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(99, 108, 114, 0.1);
  border-radius: 4px;
  background: #f6f7f8;
  ;
  color: #636c72;
  font-size: 0.9em;
  text-align: left;
}

.create-post button:hover {
  cursor: text;
  text-decoration: none;
}
