
.nav ul{
    margin: 0%;
    padding-left: 200px;
    padding-right: 200px;
  }
  
.tab-nav-link.active a {
    color: #007BFF;
  }
  
  .tab-nav-link a {
    color: #636c72;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
  }
  
  .tab-nav-link a:hover {
    text-decoration: none;
    color: #007BFF;
  }

.nav li {
    margin-bottom: 20px;
    padding-right: 10px;
}

.nav {
    padding-right: 10px;
}

