.tab-nav-link {
    background-color: #fff;
    padding: 5px 20px;
    display: inline-block;
    color: #636c72;
  }
  
  .nav-link:hover{
    background-color: #e0dfdf;
    border-radius: 50px !important;
  }

  .nav-tabs li{
    border-radius: 25px;
    padding: 3px;
  }
  
  .categories{
    font-size: 17px;
    font-weight: 500;  
  }
  
  
  .tab-nav-link .active {
    background: #939597;
    color: #007BFF;
  }
  
  .nav-tabs .active{
    background: #f0eeee !important;
    color: #007BFF !important;
    border-radius: 50px;
  }

  .tab-nav-link.active a{
    color: #007BFF;
  }
  
  .tab-nav-link a {
    color: #636c72;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }
  
  .nav-tabs .hover {
    text-decoration: none;
    color: #007BFF !important;
    border-radius: 50px !important;
  }
  