.warning-nav-link li {
  background-color: #fff;
  padding: 5px 20px;
  display: inline-block;
  border-radius: 25px;
  color: #636c72;
  border: 1px solid #636c72;
  user-select: none;
  font-size: 1em;
  font-weight: 600;
}

.warning-nav-link .active {
  color: #f6f7f8;
  background-color: #007BFF;
  border-color: #007BFF;
}

.warning-nav-link .active:hover {
  color: #fff;
}

.warning-nav-link li:hover {
  text-decoration: none;
  color: #007BFF;
  border-color: #007BFF;
}

.topcover img {
  position: relative;
  left: 10%;
  width: 50%;
  height: 50%;
  padding-top: -10rem;
  padding-bottom: -10rem;
}
